<%- include('partials/header') %>
<%- include('search') %>
    <table>
        <tr>
            <th><button type="button" id="sortName" onclick="sort(0, 1)">Naam</button></th>
            <th><button type="button" id="sortMembers" onclick="sort(1, 2)">Aantal leden</button></th>
            <th><button type="button" id="sortRomote" onclick="sort(2, 3)">Locatie</button></th>
            <th><button type="button" id="sortLeader" onclick="sort(3, 4)">"Leider</button></th>
            <th><button type="button" id="sortStatus" onclick="sort(4, 5)">Status</button></th>
        </tr>
        <% for(let i=0;i<groups.length;i++) { %>
        <tr>
            <td><a href="groups/<%=groups[i].id%>"><%=groups[i].name%></a></td>
            <td><%=groups[i].numberOfMembers%></td>
            <% if(groups[i].isRemote == true) { %>
                <td>Remote</td> 
            <% } else { %>
                <td>Op locatie</td>
            <% } %>
            <td><%=groups[i].leader.name%></td>
            <td><%=groups[i].status%></td>
       </tr>
    <% } %>
    </table>
    <script>
        // Set all directions as if it's descending, this way when clicking first time it will set to ascending
        let directions = [false, false, false, false, false];

        function sort(columnIndex, child)   {
            let table = document.querySelector("table");
            let rows = Array.from(table.querySelectorAll("tr"));
            rows.shift(); // Remove the header row from the array

            rows.sort(function(a, b) {
            let nameA = a.querySelector(`td:nth-child(${child})`).innerText;
            let nameB = b.querySelector(`td:nth-child(${child})`).innerText;
            if(directions[columnIndex] == false){
            return nameA.localeCompare(nameB);
            } else {
            return nameB.localeCompare(nameA);
            }
            });

            while (table.rows.length > 1) {
            table.deleteRow(1);
            } // Clear the table
            rows.forEach(function(row) {
            table.appendChild(row); // Append the sorted rows back to the table
        });

        // Toggle the direction for the next sort
        directions[columnIndex] = !directions[columnIndex];
}
    </script>

<%- include('partials/footer') %>
