<%-include ('partials/header') %>

<h1><%=scientist.name%></h1>
<p><%=scientist.birthDate%></p>
<p><%=scientist.passingDate%></p>
<p><%=scientist.nationality%></p>
<p><%=scientist.description%></p>

<%-include ('partials/footer') %>